<li id="<%= @feed_item.content %>">
  <span class="user">
  </span>
  <span class="content"><%= @feed_item.content %></span>
  <span class="content"><% @annotation.tweetId = @feed_item.tweetId %></span>
  <span class="timestamp">
    Replies: 
    <br>
    <%= @feed_item.reply_1 %> 
    <br>
    <%= @feed_item.reply_2 %> 
    <br>
    <%= @feed_item.reply_3 %> 
    <br>
    <%= @feed_item.reply_4 %>
    <br> 
    <%= @feed_item.reply_5 %>
    <br> 
    Classification: 
    <%= render partial: 'shared/answer_buttons' %> 
  </span>
</li>