<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user %>
  </a>
  <br>
  <p></p>
<h1>
  <%= current_user.name %>
</h1>
<p>Tweets Annotated:
<%= @count %>
</p>
<br>
<br>
<p>Rating: <%= @rating[0] %></p>
<%= link_to image_tag(@rating[1]) %>

<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
</span>